@if(flight() != null) {
<div class="flex-wrapper">
    <mat-card class="flex-card" appearance="outlined">
        <img mat-card-image [src]="utils.getImageUrl(flight()!)" [alt]="flight()?.destination">
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>location_on</mat-icon>
                    <div matListItemTitle>Destination</div>
                    <div matListItemLine>{{flight()!.destination}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>tag</mat-icon>
                    <div matListItemTitle>Flight Number</div>
                    <div matListItemLine>{{flight()!.flightNumber}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>history_2</mat-icon>
                    <div matListItemTitle>Scheduled At</div>
                    <div matListItemLine>{{utils.formatDate(flight()!.scheduledAt)}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>flight</mat-icon>
                    <div matListItemTitle>Airplane Model</div>
                    <div matListItemLine>{{flight()?.plane}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>bookmark</mat-icon>
                    <div matListItemTitle>Terminal</div>
                    <div matListItemLine>{{flight()?.terminal}}</div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="flex-card" appearance="outlined">
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Airline</mat-label>
                <mat-select [(ngModel)]="order.airlineId">
                    @for (airline of airlines; track $index) {
                    <mat-option [value]="airline.id">{{airline.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Seating Type</mat-label>
                <mat-select [(ngModel)]="order.seatingTypeId">
                    @for (st of seatingTypes; track $index) {
                    <mat-option [value]="st.id">{{st.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Age Group</mat-label>
                <mat-select [(ngModel)]="order.ageGroup">
                    <mat-option value="a">Adult</mat-option>
                    <mat-option value="c">Child</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Ticket Count</mat-label>
                <input matInput type="number" [(ngModel)]="order.count">
            </mat-form-field>
            <h3>Total: {{calculateTotal()}} EUR</h3>
            <button matButton type="button" (click)="placeOrder()">Place Order</button>
        </mat-card-content>
    </mat-card>
</div>

} @else {
<app-loading />
}