@if(flights().length > 0) {
<div class="card-wrapper">
    @for (f of flights(); track $index){
    <mat-card class="flight-card" appearance="outlined">
        <img mat-card-image [src]="utils.getImageUrl(f)" [alt]="f.destination">
        <mat-card-content class="card-content">
            <mat-card-title>
                <strong>{{f.destination}}</strong>
            </mat-card-title>
            <mat-card-subtitle>{{utils.formatDate(f.scheduledAt)}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="`/details/${f.id}`" matButton>
                <mat-icon fontIcon="description" /> Details
            </a>
            @if (authService.getActiveUser()) {
            <a [routerLink]="`/details/${f.id}/booking`" matButton>
                <mat-icon fontIcon="airplane_ticket" /> Book now
            </a>
            }
        </mat-card-actions>
    </mat-card>
    }
</div>
}
@else {
<mat-card class="loading-card">
    <img src="/loading.webp" class="loading-img">
    <mat-card-content>
        <h3>Podaci se ucitavaju</h3>
        <p>Molimo sacekajte...</p>
    </mat-card-content>
</mat-card>
}